

h2 {
  margin-top: 5px;
}

/* Main menu */
.main-menu {
  margin: 20px 0;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  li{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    i {
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -21px;
      margin-left: -11.5px;
    }
  }
}

//Home.map map
.angular-google-map {
  height: 100%;
}

.angular-google-map-container {
  height: 100%;
}

.gm-style-iw {
  width: 145px;
}

.infoWindow {
  h3 {
    font-size: 15px;
    margin: 0 0 5px 0;
  }
  p {
    margin-bottom: 3.5px;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

//ng-show="nearestMap"
