//COLORS
@yellow: rgba(255,251,178, 1);
@orange: rgba(242,121,70 ,1);
@green: rgba(86,171,92, 1);
@blue:  rgba(41,93,171, 1);
@red: rgba(248, 69, 59, 1);

body {
  background-color: #f0f0f0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans', 'Helvetica', 'sans-serif';
}

h1 {
  font-size: 28px;
  margin: 15px 0 0 0;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

p {
  font-size: 13px;
}

a {
  font-family: 'Noto Sans', 'Helvetica', 'sans-serif';
  color: rgba(248, 69, 59, .8);
  &:hover {
    color: rgba(248, 69, 59, 1)
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Main menu */
.menu-row {
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(41,93, 171, 1);
}

.main-menu-large {
  display: none;
}

.main-menu {
  margin: 20px 0;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  li{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 18px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    i {
      color: rgba(255, 255, 255, 1);
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -19px;
      margin-left: -10px;
    }
    .ion-map {
      margin-left: -11px;
    }
    .ion-navigate {
      margin-left: -13px;
    }
    .ion-heart {
      margin-left: -10px;
    }
  }
}

/* Nearby Map */
.nearby-stations-row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  //margin-top: 40px;
}

.nearby-stations-wrap {
  padding-right: 0;
  padding-left: 0;
}

.near-station {
  margin: 5px 5px 10px 5px;
  background-color: #fff;
}

/* Stations lists */
.station-diff,
.fav-station-content {
  overflow: hidden;
  padding: 10px 10px;
  border-left: 4px solid rgba(41,93,171,.8);
}

.all-stations-content {
  overflow: hidden;
}

.all-stations-list-wrap {
  padding: 15px;
}

.all-stations-list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(41,93,171, .3);
}

.station-info,
.fav-station-info,
.all-stations-info  {
  float: left;
  width: 50%;
  p {
    margin: 0 0 0;
    font-family: 'georgia', serif;
  }
  span {
    font-weight: 600;
    font-family: 'Noto Sans';
  }
}

/* Buttons */
.large-btn {
  display: none;
}

.station-btns {
  height: 60px;
}

.station-btns,
.fav-station-btns,
.all-stations-btns {
  float: left;
  width: 50%;
  div {
    display: inline-block;
    position: relative;
    top: 20%;
    left: 50%;
    margin-left: -42px;
  }
  .small-btn {
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    border: 1px solid rgba(248, 69, 59, .8);;
    margin-left: 5px;
    padding-top: 4px;
    i {
      font-size: 20px;
      color: rgba(248, 69, 59, .8);
    }
  }
}

.all-stations-btns {
  .small-btn {
    background-color: #f0f0f0;
  }
}

.fav-stations {
  padding-right: 0;
  padding-left: 0;
}

.fav-station {
  margin: 5px 5px 10px 5px;
  background-color: #fff;
  .fav-station-content {
    overflow: hidden;
    padding: 10px 10px;
    border-left: 4px solid rgba(41,93,171,.8);
  }
}

//Home.map map
.angular-google-map {
  height: 100%;
}

.angular-google-map-container {
  height: 100%;
}

.nearby-map {
  -webkit-animation: myFrame 1s linear;
  -moz-animation: myFrame 1s linear;
  animation: myFrame 1s linear;
}

.home-map,
.nearby-map,
.fav-stations-wrap,
.info-text-wrap {
  padding-top: 15px;
}

.gm-style-iw {
  width: 145px;
}

.infoWindow {
  h3 {
    font-size: 15px;
    margin: 0 0 5px 0;
  }
  p {
    margin-bottom: 3.5px;
  }
}

.show-list {
  text-align: center;
  .down {
    margin-top: -10px;
    margin-bottom: -2px;
  }
  i {
    font-size: 25px;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@-webkit-keyframes myFrame {
	from {
			opacity: 0;
		} to {
			opacity: 1;
		}
}

.scrollup {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    background-color: rgba(248, 69, 59, .4);
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgba(248, 69, 59, .8);
    }
    i {
      font-size: 35px;
      position: relative;
      left: 50%;
      margin-left: -11.5px;
    }
}

.saved-station-marker,
.delete-station-marker {
    -webkit-animation: myFrame 1s linear;
    -moz-animation: myFrame 1s linear;
    animation: myFrame 1s linear;
  background-color: rgba(0,0,0,0.6);
  padding: 8px 15px;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -56px;
  margin-top: -22px;
  font-size: 17px;
  color: #f0f0f0;
  i {
    font-size: 20px;
    margin-right: 5px;
  }
}


.info-text {
  //text-align: left;
  p {
    margin: 0 0 25px;
    font-size: 14px;
  }
}

/* LARGE SCREENS */


@media (min-width: 992px) {

  .container {
    width: 100%;
  }

  .row {
    padding-left: 8%;
    padding-right: 8%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 27px;
  }

  p {
    font-size: 17px;
  }

  .main-menu {
    display: none;
  }

  .main-menu-large {
    display: block;
    margin: 20px 0;
    padding: 10px 150px 10px;
    list-style-type: none;
    padding-left: 0;
    float: right;
    li {
      cursor: pointer;
      display: inline-block;
      margin-left: 15px;
      letter-spacing: .4px;
      border: 2px solid #fff;
      padding: 5px 15px;
      border-radius: 4px;
      &:hover {
        background-color: #fff;
        a {
          color: @blue;
        }
      }
      a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  .home-map-wrap,
  .nearby-map-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .home-map,
  .nearby-map {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .near-heading,
  .fav-heading,
  .info-heading {
    text-align: center;
    padding: 15px 0;
  }

  .near-station,
  .fav-station {
    margin: 15px 10px 10px;
  }

  .show-list {
    padding: 15px 0;
    p {
      font-size: 25px;
    }
    .down {
      margin-top: -18px;
    }
    i {
      font-size: 40px;
    }
  }

  .all-stations-list {
    padding: 10px 30px 10px 0;
    margin: 10px 0;
    border: none;
    h2 {
      background-color: rgba(41,93,171,.8);
      padding: 7px 7px;
      color: #fff;
      border-radius: 3px;
    }
    p {
      font-weight: 800;
      span {
        font-weight: 400;
      }
    }
  }

  .station-info,
  .fav-station-info {
    p {
      font-weight: 800;
    }
    span {
      font-weight: 400;
    }
  }

  .all-stations-info,
  .all-stations-btns {
    width: 50%;
  }

  /* Buttons */
  .all-stations-btns,
  .station-btns,
  .fav-station-btns {
    div {
      width: 100%;
      position: inherit;
      top: 0;
      left: 0;
      margin: 0;
    }
  }

  .all-stations-btns {
    .large-btn {
      background-color: #f0f0f0;
    }
  }

  .small-btn {
    display: none;
  }

  .station-btns {
    height: 100%;
    .large-btn {
      background-color: #fff;
      padding: 5px 15px;
      margin: 5px 0;
    }
  }

  .fav-station-btns {
    .large-btn {
      background-color: #fff;
    }
  }

  .large-btn {
      display: inherit;
      border-radius: 3px;
      border: 1px solid rgba(248,69,59,.8);
      padding: 8px 15px;
      font-size: 17px;
      color: rgba(248,69,59,.8);
      float: left;
      width: 100%;
      transition: 0.5s ease;
      &:hover {
        background-color: rgba(248,69,59,.8);
        color: #fff;
        i {
          color: #fff;
        }
      }
    i {
      font-size: 25px;
      margin-right: 5px;
    }
  }

  .station-info,
  .station-btns {
    width: 50%;
  }

  .info-text {
    text-align: center;
    p {
      font-size: 17px;
    }
  }


}


@media (min-width: 1200px) {

  .all-stations-info,
  .all-stations-btns {
    width: 50%;
  }

  .station-info,
  .station-btns {
    width: 50%;
  }

}

/* SPINNER */

#spin-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.spinner {
  top: 40%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Easter */
.easter,
.empty-saved {
  text-align: center;
}
