body {
  background-color: #f0f0f0;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans', 'Helvetica', 'sans-serif';
}
h1 {
  font-size: 28px;
  margin: 15px 0 0 0;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #295dab;
}
h2 {
  margin-top: 0;
  font-size: 20px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
/* Main menu */
.menu-row {
  margin-left: 0;
  margin-right: 0;
  background-color: #295dab;
}
.main-menu {
  margin: 20px 0;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
.main-menu li {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 18px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
}
.main-menu li:first-child {
  margin-left: 0;
}
.main-menu li i {
  color: #ffffff;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -19px;
  margin-left: -10px;
}
.main-menu li .ion-map {
  margin-left: -11px;
}
.main-menu li .ion-navigate {
  margin-left: -13px;
}
.main-menu li .ion-heart {
  margin-left: -10px;
}
/* Nearby Map */
.nearby-stations-row {
  margin-left: 0;
  margin-right: 0;
}
.nearby-stations-wrap {
  padding-right: 0;
  padding-left: 0;
}
.near-station {
  margin: 5px 5px 10px 5px;
  background-color: #fff;
}
/* Stations lists */
.station-diff,
.fav-station-content {
  overflow: hidden;
  padding: 10px 10px;
  border-left: 4px solid rgba(41, 93, 171, 0.8);
}
.all-stations-content {
  overflow: hidden;
}
.all-stations-list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(41, 93, 171, 0.3);
}
.station-info,
.fav-station-info,
.all-stations-info {
  float: left;
  width: 50%;
}
.station-info p,
.fav-station-info p,
.all-stations-info p {
  font-size: 13px;
  margin: 0 0 0;
  font-family: 'georgia', serif;
}
.station-info span,
.fav-station-info span,
.all-stations-info span {
  font-weight: 600;
  font-family: 'Noto Sans';
}
/* Buttons */
.station-btns {
  height: 60px;
}
.station-btns,
.fav-station-btns,
.all-stations-btns {
  float: left;
  width: 50%;
}
.station-btns div,
.fav-station-btns div,
.all-stations-btns div {
  display: inline-block;
  position: relative;
  top: 20%;
  left: 50%;
  margin-left: -42px;
}
.station-btns button,
.fav-station-btns button,
.all-stations-btns button {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  border: 1px solid rgba(167, 67, 59, 0.9);
  margin-left: 5px;
  padding-top: 4px;
}
.station-btns button i,
.fav-station-btns button i,
.all-stations-btns button i {
  font-size: 20px;
  color: rgba(167, 67, 59, 0.9);
}
.all-stations-btns button {
  background-color: #f0f0f0;
}
/* Favourite Stations */
.fav-stations-wrap {
  padding-right: 0;
  padding-left: 0;
}
.fav-station {
  margin: 5px 5px 10px 5px;
  background-color: #fff;
}
.fav-station .fav-station-content {
  overflow: hidden;
  padding: 10px 10px;
  border-left: 4px solid rgba(242, 121, 70, 0.8);
}
.angular-google-map {
  height: 100%;
}
.angular-google-map-container {
  height: 100%;
}
.home-map,
.nearby-map,
.nearby-stations-wrap,
.fav-stations-wrap {
  padding-top: 15px;
}
.gm-style-iw {
  width: 145px;
}
.infoWindow h3 {
  font-size: 15px;
  margin: 0 0 5px 0;
}
.infoWindow p {
  margin-bottom: 3.5px;
}
.show-list {
  text-align: center;
}
.show-list .down {
  margin-top: -10px;
  margin-bottom: -2px;
}
.show-list i {
  font-size: 25px;
}
.show-list p {
  font-size: 14px;
  margin: 0;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.scrollup {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
  background-color: rgba(248, 69, 59, 0.4);
  color: #fff;
  cursor: pointer;
}
.scrollup i {
  font-size: 35px;
  position: relative;
  left: 50%;
  margin-left: -11.5px;
}
