.angular-google-map-container {
  height: 400px;
}
/* Main menu */
.main-menu {
  list-style-type: none;
  margin: 0 auto;
}
.main-menu li {
  padding: 20px;
  display: inline;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 29px;
}
.main-menu li i {
  font-size: 35px;
}
