<div class="row fav-heading">
  <div class="col-xs-12">
    <h1>Favoritstationer</h1>
  </div>
</div>

<div class="row fav-stations-wrap">
  <div ng-repeat="favstat in favouriteStations" class="col-xs-12 col-sm-6 col-md-4 fav-stations">
    <div class="fav-station">
      <div class="fav-station-content">
        <h2>{{ favstat.Label | capitalize }}</h2>
        <div class="fav-station-info">
          <p><span>Lediga cyklar:</span> {{ favstat.FreeBikes }}</p>
          <p><span>Lediga ställ:</span> {{ favstat.FreeStands }}</p>
        </div>
        <div class="fav-station-btns">
          <div>
            <button ng-click="deleteStation(favstat.Id)"><i class="ion-trash-b"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
