<div class="row fav-heading">
  <div class="col-xs-12">
    <h1>Favoritstationer</h1>
  </div>
</div>

<div class="row fav-stations-wrap">

  <div class="empty-saved">
    <p class="empty-saved-text hide">Du verkar inte ha några favoriter sparade. Trist :(</p>
  </div>

  <div ng-repeat="favstat in favouriteStations" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 fav-stations">
    <div class="fav-station">
      <div class="fav-station-content">
        <h2>{{ favstat.Label | capitalize }}</h2>
        <div class="fav-station-info">
          <p><span>Lediga cyklar:</span> {{ favstat.FreeBikes }}</p>
          <p><span>Lediga ställ:</span> {{ favstat.FreeStands }}</p>
        </div>
        <div class="fav-station-btns">
          <div>
            <button class="small-btn" deleted ng-click="deleteStation(favstat.Id)"><i class="ion-trash-b"></i></button>

            <!-- LARGE SCREEN BUTTON -->
            <button class="large-btn" deleted ng-click="deleteStation(favstat.Id)"><i class="ion-trash-b"></i>Ta bort station</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="delete-station-marker hide"><i class="ion-trash-a"></i>Borttagen!</div>
