<div class="row home-map-wrap" scroll-top>

  <div class="col-xs-12 home-map" map-wrap>

      <ui-gmap-google-map center='map.center' zoom='map.zoom'>

        <ui-gmap-marker coords="marker.coords" idkey="marker.id" options="marker.options">
        </ui-gmap-marker>

        <ui-gmap-markers models="map.markers" coords="'self'" click="'onClick'" icon="'icon'">

          <ui-gmap-windows show="'showWindow'" class="peno">
            <div class="infoWindow">
              <h3 ng-non-bindable>{{ name }}</h3>
              <p ng-non-bindable>Lediga ställ: {{ avalStands }}</p>
              <p ng-non-bindable>Lediga cyklar: {{ avalBikes }}</p>
            </div>
          </ui-gmap-windows>

        </ui-gmap-markers>

      </ui-gmap-google-map>

  </div>

</div>

<div class="row show-list-wrap">
  <div class="col-xs-12 show-list">
    <p>Stationslista</p>
    <p class="down"><i class="ion-arrow-down-b"></i></p>
  </div>
</div>

<div class="row">

  <div class="all-stations-list-wrap">
    <div ng-repeat="station in allStaions | orderBy: 'Name'" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 all-stations-list">
      <h2>{{ station.Name }}</h2>
      <div class="all-stations-content">

        <div class="all-stations-info">
          <p available-bikes><span>Lediga cyklar:</span> {{ AvailableBikes }}</p>
          <p><span>Lediga ställ:</span> {{ station.AvailableBikeStands }}</p>
        </div>

        <div class="all-stations-btns">
          <div>
            <button class="small-btn" ng-click="saveStation(station.StationId)"><i class="ion-heart"></i></button>
            <!-- LARGE SCREEN BTN -->
            <button class="large-btn" ng-click="saveStation(station.StationId)"><i class="ion-heart"></i>Spara station</button>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>
 <div class="scrollup" scroll-top-map><i class="ion-arrow-up-b"></i></div>
