<div class="row">
  <div class="col-xs-12 info-heading">
    <h1>Vart har du kommit?</h1>
  </div>
</div>

<div class="row info-text-wrap">
    <div class="col-xs-12 col-md-6 col-md-offset-3 info-text">
      <p>
         Nyttjar du den eminenta servicen som Styr & Ställ erbjuder oss Göteborgare?
         Är du nyfiken på om det finns en ledig cykel där det passar dig, just nu?
         Då har du kommit alldeles rätt! På denna plats på webben kan du se vart alla
         stationer för cyklarna samt alla de lediga cyklarna finns. Du kan även se
         vilka stationer som är närmast dig och få hjälp att hitta dit. Det finns också
         möjlighet att spara sina favoritstationer för snabb åtkomst.
       </p>
       <p>
         Du är givetvis välkommen även om du inte brukar nyttja denna service
         så ofta, eller aldrig har testat. Har du inte testat men är sugen
         på att hyra en cykel eller bara kolla upp vad det är så föreslår jag ett besöker
         <a href="http://www.goteborgbikes.se/">deras webbplats.</a> Du kan även läsa en
         liten sammanfattning här nedan. 
        </p>

        <h2>Styr & Ställ</h2>
         <p>
           På Styr & Ställ lånecykelstationer kan du "låna" cykel dygnet runt.
           Stationerna finns i centrala Göteborg nära kollektivtrafikens knutpunkter.
           För att få tillgång till lånecyklarna måste du registrera dig. Det är inte
           gratis att låna cyklarna.

           Det finns 1 000 cyklar i centrala staden fördelade cirka 60 stationer som
           ligger med 300 till 500 meters mellanrum.
         </p>
    </div>
</div>
