<div class="row">
  <div class="col-xs-12 nearby-map">
    <ui-gmap-google-map

        ng-show="nearestMap"

        id="map-canvas"
        center="mapp.center"
        zoom="mapp.zoom"
        draggable="true"
        options="mapp.options"
        control="mapp.control"

    >
    </ui-gmap-google-map>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div ng-repeat="station in stations | orderBy: 'Distance' " class="near-station">
      <h2>{{ station.Name }}</h2>
      <p available-bikes>Lediga cyklar: {{ AvailableBikes }}</p>
      <p>Lediga ställ: {{ station.AvailableBikeStands }}</p>
      <p>Avstånd: {{ station.Distance }}m</p>
      <button ng-click="showDirection(station.Lat, station.Long)" scroll-top>Hitta</button>
      <button ng-click="saveStation(station.StationId)">Spara Favvo</button>
    </div>
  </div>
</div>
