<div class="row">
  <div class="col-xs-12">
    <div>
      <div ng-repeat="station in stations | orderBy: 'Distance' ">
        <h3>{{ station.Name }}</h3>
        <p available-bikes>Lediga cyklar: {{ AvailableBikes }}</p>
        <p>Lediga ställ: {{ station.AvailableBikeStands }}</p>
        <a href="https://www.google.com/maps/dir/{{myLat}}+{{myLong}}/{{station.Lat}},{{station.Long}}">Hitta hit</a>
        <button ng-click="saveStation(station.StationId)">Spara Favvo</button>
      </div>
    </div>
  </div>
</div>
